/* #BASE CSS (Initital Setup)
---------------------------------
    #BASE CONTENT
        #TYPOGRAPHY
            #BODY
            #HEADINGS
            #PARAGRAPHS
            #LINKS
            #ARTICLE
            #HELPERS
        #MEDIA
            #IMAGES
        #COMPONENTS
            #BUTTONS
    #BASE LAYOUT
        #SIMPLE RESET
        #MEDIAQUERIES
        #CONTAINER
        #GRID SYSTEM
            #CLEARFIX
    #BASE SITE
        #SITE STRUCTURE
            #HEADER
                # site-id (LOGO)
            #FOOTER
            #SECTIONS
            #SUB PAGES
        #SITE NAVIGATION
            #TOGGLE-NAV (Default for Small Screens)
--------------------------------- */

/* TYPOGRAPHY */

body {
  font-size: 87.5%; /* 14 px */
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  color: rgba (0, 0, 0, 0.8);
}

/* HEADINGS 
  Based on a Traditional Typographic Scale
    48, 36, 24, 21, 18, 16 */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em 0;
}

h1 {
  font-size: 3em;
  line-height: 1;
}

h2 {
  font-size: 2.25em;
  line-height: 1.1;
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: normal;
  padding-bottom: 1em;
}

h2::after {
  content: "";
  display: block;
  width: 125px;
  margin: 0.5em 0;
  border-bottom: 3px solid rgba(195, 195, 195, 0.7);
}

h3 {
  font-size: 1.5em;
  line-height: 1.2;
}
h4 {
  font-size: 1.3125em;
  line-height: 1.3;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  padding-bottom: 0.25em;
}
h5 {
  font-size: 1.125em;
  line-height: 1.4;
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  font-style: italic;
}

.hero h1 {
  color: white;
  text-align: left;
  font-size: 4.55em;
  font-family: "DM Serif Display", serif;
  font-weight: 400;
  font-style: normal;
}

/* PARAGRAPHS */

p {
  margin: 0.5em 0;
  max-width: 38em;
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.75;
  padding-bottom: 0.75em;
}

/* LINKS */

a {
  color: rgba(0, 0, 153, 0.8);
  text-decoration: none;
}

a:hover {
  color: rgba(0, 0, 153, 1);
  text-decoration: underline;
}

/* ARTICLE */

article {
  max-width: 38em;
  margin-left: auto;
  margin-right: auto;
}

article h1,
article h1 + .subhead,
article .date {
  text-align: center;
}

article h2.subhead {
  font-size: 1.5em;
  line-height: 1.25;
}

article .subhead {
  font-weight: normal;
  opacity: 0.7;
}

article .date {
  font-size: 0.75em;
  opacity: 0.5;
  margin-bottom: 3em;
}

article p + h2,
article p + h3,
article p + h4,
article p + h5,
article p + h6 {
  margin-top: 1.5em;
}

/* article p:first-of-type {
  font-size: 1.4em;
  line-height: 1.3em;
} */

article p:first-of-type:first-letter {
  font-size: 3em;
  line-height: 1em;
  background: #000;
  color: #fff;
  padding: 0.2em 0.4em;
  margin-right: 0.3em;
  float: left;
}

/* HELPER CLASSES */
.text-centered {
  text-align: center;
}

.full-width {
  max-width: none;
  width: 100%;
}

/* IMAGES */
img {
  max-width: 100%;
  height: auto;
}

/* BUTTONS */
.button,
button,
form input[type="submit"] {
  font-size: inherit;
  line-height: 1;
  background-color: rgba(0, 0, 255, 1);
  border: 1px solid rgba(0, 0, 255, 1);
  color: rgba(255, 255, 255, 1);
  padding: 1em;
  display: inline-block;
  margin: 0.5em 0.5em 0.5em 0;
  text-align: center;
  border-radius: 0.5em;
}

.button:hover,
button:hover,
form input[type="submit"]:hover {
  background-color: rgba(0, 0, 153, 1);
  border-color: rgba(0, 0, 153, 1);
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

.button.alt {
  background-color: transparent;
  color: rgba(0, 0, 153, 1);
}

.button.alt:hover {
  background-color: rgba(0, 0, 153, 1);
  color: rgba(255, 255, 255, 1);
}

/* LAYOUT */

/* SIMPLE RESET */
* {
  box-sizing: border-box;
}
body {
  margin: 0;
}

/* CONTAINER */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 4%;
}

/* MEDIA QUERIES */

@media (min-width: 768px) {
  /* TABLET SIZED SIZING HERE */
}

@media (min-width: 1050px) {
  body {
    font-size: 100%; /* 16 px */
  }
}

@media (min-width: 1250px) {
  body {
    font-size: 112.5%; /* 18 px */
  }
  .container {
    max-width: 1200px;
  }
}

/* FOR DEMO ONLY */

body.demo {
  padding-top: 2em;
}

body.demo::before {
  content: "Small Screen (Mobile) Less Than 768px";
  background-color: #993333;
  width: 100%;
  position: fixed;
  top: 0;
  text-align: center;
  color: white;
  padding: 0.5em;
}

@media (min-width: 768px) {
  body.demo::before {
    background-color: #bcb83d;
    content: "Midsize (Tablet) Screen Less Than 768px - 1050px";
  }
}

@media (min-width: 1050px) {
  body.demo::before {
    background-color: #693;
    content: "Large (Notebook) Screen Less Than 1050px - 1250px";
  }
}

@media (min-width: 1250px) {
  body.demo::before {
    background-color: orange;
    content: "XLarge (Desktop) Screen Less Than 1250px +";
  }
}

/* GRID SYSTEM */

.row > .column {
  margin-bottom: 4%;
}

@media (min-width: 768px) {
  .row {
    display: flex;
    justify-content: space-between;
    margin-left: -2%;
    margin-right: -2%;
  }

  .row > .column {
    flex-grow: 1;
    margin-left: 2%;
    margin-right: 2%;
  }

  .row > .column.one-half {
    max-width: 46%;
  }

  .row > .column.one-third {
    max-width: 29.3333%;
  }

  .row > .column.two-thirds {
    max-width: 62.6666%;
  }

  .row > .column.centered {
    margin-left: auto;
    margin-right: auto;
  }
}

/* FOR DEMO ONLY */

.demo .column {
  background: rgba(0, 0, 0, 0.2);
  padding: 1em;
  text-align: center;
}

/* SITE STRUCTURE */

/* SITE HEADER */
.site-header {
  padding: 1em 0;
}

/* ON LARGER SCREENS PLACE LOGO LEFT AND NAV RIGHT */
@media (min-width: 768px) {
  .site-header .container {
    display: flex;
    justify-content: space-between;
  }
}

/* STYLING FOR BOTH HEADER AND FOOTER */

.site-header a,
.site-footer a {
  color: rgba(0, 0, 0, 0.8);
}

.site-header a:hover,
.site-footer a:hover {
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

footer {
  display: block;
  padding: 1em;
  background-color: rgba(0, 13, 37, 1);
}

.social-nav ul {
  display: flex;
  list-style: none;
}

.social-nav li {
  margin: 0 10px;
}

/* LOGO AREA */
.site-id h1 {
  font-size: 1.5em;
  margin: 0;
  padding-top: 0.55em;
  text-align: center;
}

/* SITE NAV */
.site-nav ul,
.social-nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  font-family: "Quicksand", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.site-nav a,
.social-nav a {
  padding: 1em;
  padding-bottom: 0.5em;
  display: block;
  color: rgba(255, 255, 255, 0.8);
}
.site-nav a:hover,
.social-nav a:hover {
  color: rgba(255, 255, 255, 1);
}

.site-nav .menu-button {
  display: none;
}

.site-nav a.dropdown-toggle {
  position: relative;
}

.site-nav a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 0.1em;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.4s ease-in-out;
}

.site-nav a:hover:before {
  visibility: visible;
  transform: scaleX(0.7);
}
/* SITE MAIN */

/* SECTIONS */
section {
  padding: 3em 0;
}

/* HERO */

.hero {
  padding: 6em 4%;
  background-color: rgba(0, 0, 0, 0.1);
  text-align: center;
}

.hero h1,
.hero p {
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

/* TOGGLE NAV */

@media (max-width: 767px) {
  .toggle-nav .site-id {
    position: absolute;
  }
  .toggle-nav .site-nav {
    text-align: right;
  }
  .toggle-nav .site-nav .menu-button {
    display: block;
    display: inline-block;
    cursor: pointer;
    padding: 0.3em 0.8em;
    margin-bottom: 0.8em;
    border: 1px solid black;
  }
  .toggle-nav .site-nav .menu-button::selection {
    background-color: rgba(255, 255, 255, 0);
  }
  .toggle-nav .site-nav ul {
    display: block;
    text-align: center;
  }
  .toggle-nav .site-nav a:hover {
    background-color: rgba(0, 0, 153, 1);
    color: white;
  }
  .toggle-nav[data-navstate="closed"] ul {
    height: 0;
    overflow: hidden;
  }
  .toggle-nav[data-navstate="open"] ul {
    height: auto;
    overflow: visible;
  }
}

/* NAVICON */

.toggle-nav .site-nav .menu-button.navicon {
  border: none;
  color: rgba(255, 255, 255, 0);
  padding: 0;
}

.toggle-nav .site-nav .menu-button.navicon::after {
  content: "\2630";
  display: inline-block;
  padding: 0.2em 0.4em;
  margin: 0;
  color: rgba(0, 0, 0, 0.8);
  font-size: 1.5em;
}

.toggle-nav[data-navstate="open"] .site-nav .menu-button.navicon::after {
  content: "\2715";
}

/* FORMS */

form {
  max-width: 600px;
  margin: 2em auto;
}

form label,
form input,
form textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-size: 1em;
}

form input[type="text"],
form textarea {
  border: 1px solid #ccc;
  padding: 0.5em;
  color: #666;
}

form textarea {
  min-height: 10em;
  line-height: 1.5;
}

form label {
  margin-top: 1em;
  margin-bottom: 0.25em;
}

form input[type="submit"] {
  width: auto;
  margin-top: 1.5em;
}

/* CUSTOM SITE CSS */

.section-title {
  text-align: center;
  margin-bottom: 3em;
}

.section-title::after {
  content: "";
  display: block;
  width: 100px;
  margin: 0.5em auto;
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}

.site-header.sticky {
  position: absolute;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
}

/* .site-header.sticky + main {
  padding-top: 3em;
} */

#about {
  background: rgba(0, 0, 0, 0.05);
}

#contact {
  background: rgba(0, 0, 0, 0.01);
}

/* Vertical Media Query add height/paddint to ottom of contact section only for lg screens */

@media (min-height: 600px) {
  #contact {
    padding-bottom: 20em;
  }
}

/* WAIKIKI AQUARIUM STYLING STARTS HERE */

.site-id h1 img,
.social-nav img {
  max-width: 100px;
}

.site-main .hero {
  background-image: url(../img/monksealhero.gif);
  background-size: cover;
  background-position: center;
  padding: 23vh;

  max-width: 100%;
  height: auto;
}

.column.one-half {
  position: relative;
}

.about-trivia {
  position: absolute;
  left: 100px;
  top: 300px;
  color: white;
  width: 200px;
  text-align: center;
}

.quickfacts-trivia {
  width: 200px;
  right: 100px;
  position: absolute;
  text-align: center;
}

.parent {
  padding-top: 30em;
  background-color: rgba(0, 0, 255, 0.5);
  background-size: cover;
  background-repeat: no-repeat;
}
